// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  background-color: #00fa9a;
  h1{
    font-size: 5.0rem;
    color: #FFF;
    font-weight: bold;
    text-align: center;
  }
  h5{
    text-align: center;
    color: #FFF;
  }
}
.main_content{
.lesson_link_wrapper{
  margin-top: 50px;
}
  .fa-search{
    margin-bottom: 38px;
    padding-top: 3px;
  }
  h2{
    margin-top: 20px;
    text-align: center;
    color: #00fa9a;
    text-shadow: 0 0.5px gray;
  }
  .btn_area{
    text-align: center;
  }
}
